.vscode
4_observerPattern/build/*
*/build/*
.DS_Store
creational/4_singleton/build/
creational/2_factories/*/build/
creational/*/build/
creational/5_object_pool/build/
creational/3_prototype/Prototype/