.vscode
4_observerPattern/build/*
*/build/*
.DS_Store
creational/4_singleton/build/
creational/2_factories/*/build/
creational/*/build/
creational/5_object_pool/build/
creational/3_prototype/Prototype/
creational/1_builder/Builder/
structural/2_Adapter/Adapter.zip
structural/*/build
structural/*/Proxy
structural/*/*.zip
structural/4_decorator/Decorator